.App {
  height: 100%;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.intro {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.profile__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}

.profile__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 1;
}

.profile__name {
  font-size: 50px;
  font-weight: 600;
  color: #000000b5;
}

.profile__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile__description {
  font-size: 20px;
  max-width: 570px;
  color: #000000b5;
}

@media screen and (max-width: 1500px) {
  .profile__img {
    width: 200px;
    height: 200px;
  }

  .profile__name {
    font-size: 40px;
  }

  .profile__description {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .profile__description {
    max-width: 370px;
  }
}
